[Unit]
Description=Ig-Drasil Connect Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/ig-drasil-connect/api
Environment="PATH=/home/ubuntu/ig-drasil-connect/api/venv/bin"
ExecStart=/home/ubuntu/ig-drasil-connect/api/venv/bin/gunicorn -c /home/ubuntu/ig-drasil-connect/api/gunicorn.py -k uvicorn.workers.UvicornWorker main:app
Restart=always

[Install]
WantedBy=multi-user.target