.navbarAdmin {
    display: flex; /* Hace que los elementos hijos se muestren en línea */
    justify-content:center; /* Distribuye los elementos de manera equitativa */
    background-color: #D9D9D9; /* Color de fondo de la barra de navegación */
    color: black; /* Color del texto */
    width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
    box-sizing: border-box;
    height: 50px; /* Altura de la barra de navegación */
    line-height: 300%;  
  }

/* Estilos para los elementos hijos */
.navbarAdmin .navitemAdmin {
  border-right: 1px solid black; /* Borde derecho */
  vertical-align: middle;
  border-width: 1px;
  display: flex;
  padding-right: 6vw;
  padding-left: 7vw;
}

/* Estilos para el último elemento hijo */
.navbarAdmin .navitemAdmin:last-child {
  border-right: none; /* Elimina el borde derecho del último elemento */
}

  .navbarAdmin .nameadmin {
    background-color: #3C5468;
    padding-left: 100px;
    width: 100%;
    height: 100%;
  }
 
  .nav-itemAdmin {
    cursor: pointer;
  }
 
  .tab-contentAdmin {
    margin-top: 20px;
  }

  
.navbaricon{ /*ajute al icono de la barra de admin dashboard*/
  display: flex;
  margin-top: -18px;
  padding-left: 20px;
}

  /* Elementos para calls */
  .calls-container {
    display: flex;
    justify-content: center;
  }
  
  @media screen and (min-width: 810px) { /* media query responsive */
    .table-container {
      background-color: #C9E8FD;
    }
    .reports-container {
        background-color: #C9E8FD;
      }
  }


  .calls-table {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ajustar al ancho máximo disponible */
  }
  
  /* Estilos para pantallas pequeñas */
  @media screen and (max-width: 600px) {
    .calls-table {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  
  table {
    border-collapse: separate;
    border-spacing: 30px; 
  }
  .table-container {
    border-radius: 20px; 
    background-color: #C9E8FD;
  }

/* Elementos para Team */
.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Espacio entre las columnas */
}

.metrics-section {
  /* Estilos para la sección de Metrics */
  background-color: white;
  padding: 20px;
  border-radius: 20px; 
}

.generalData-container {
    /* Estilos para la sección de data general */
  display: inline-block;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  margin-top: 20px;
  max-width: 100%; /* Ajusta el ancho máximo al 100% */
  box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
}


.messages-container {
  display: flex;
}

.agent-list {
  flex: 1;
  padding-right: 20px;
}

.agent-item {
  cursor: pointer;
  padding: 10px;
}

.agent-item:hover {
  background-color: #f0f0f0;
}

.agent-item.active {
  background-color: #e0e0e0;
}

.chat-content {
  flex: 2;
}
