annotated-types==0.6.0
anyio==4.3.0
boto3==1.34.87
botocore==1.34.90
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorlog==6.8.2
cryptography==42.0.5
exceptiongroup==1.2.0
fastapi==0.110.0
fastapi-cdn-host==0.4.2
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.6
iniconfig==2.0.0
jmespath==1.0.1
packaging==24.0
pluggy==1.4.0
pycparser==2.22
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.31.0
s3transfer==0.10.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.27
starlette==0.36.3
tomli==2.0.1
typing_extensions==4.10.0
urllib3==2.2.1
uvicorn==0.27.1
